//--------------------------------------------
//
//  _colors
//  色
//
//---------------------------------------------
color_base = #f3f0df
color_main = #009dbf
color_accent = #eb0d54
color_text = #3f3905

color_another = #D6CB4E
