//--------------------------------------------
//
//  _mixin
//  関数
//
//---------------------------------------------
//---------------------------------------------
//  media query
//---------------------------------------------
mq_pc()
  @media screen and (min-width: MQ_PC)
    {block}

mq_sp()
  @media screen and (max-width: MQ_SP)
    {block}

mq_tab()
  @media (min-width: MQ_SP) and (max-width: MQ_TAB)
    {block}

// Retinaディスプレイ
retina()
  @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx)
    {block}

// ダーク/ライトテーマ
theme_dark()
  @media (prefers-color-scheme: dark)
    {block}

theme_light()
  @media (prefers-color-scheme: light)
    {block}
