//--------------------------------------------
//
//  _var
//  変数定義
//
//---------------------------------------------
//---------------------------------------------
//  フォント指定
//---------------------------------------------
font_family = 'M PLUS 1p', sans-serif;

//---------------------------------------------
//  ブレイクポイント
//---------------------------------------------
MQ_PC = 750.1px
MQ_SP = 750px
MQ_TAB = 1080px
